<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117723550668-sq23cv30obp1cu5bkqph2k1tmpv55vag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117723550668-sq23cv30obp1cu5bkqph2k1tmpv55vag</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>117723550668-np8avtlsi0j8huatbu03rcil76cj8j9s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAKw6Vcuh-YOxZkB4DCuSs4QYdP6bjQKN0</string>
	<key>GCM_SENDER_ID</key>
	<string>117723550668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kutay.huzeyfe.yuxu</string>
	<key>PROJECT_ID</key>
	<string>dinlendirici-2e5cb</string>
	<key>STORAGE_BUCKET</key>
	<string>dinlendirici-2e5cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117723550668:ios:fe4e2dfc9d5b82e71dc369</string>
	<key>DATABASE_URL</key>
	<string>https://dinlendirici-2e5cb.firebaseio.com</string>
</dict>
</plist>